<!--
Robert Foster
Student Number : X17140404
Routes (Home#index)
Find me in app/views/home/index.html.erb
-->

<div class="container">
  <h1 class="text-muted">News Site Main page</h1>
  <%= search_form_for @q do |f| %>
  <%= f.label :body_cont  %>
  <%= f.search_field :body_cont %>

  <%= f.submit name: ''%>
  <% end %>
  <div class="row">
        <table class="table table-striped">
          <tr>
          </tr>
          <%= render @posts = Post.where(:published => true)%>
        </table>
  </div>

  <a class="twitter-timeline" data-width="300" data-height="400" data-theme="dark"
   href="https://twitter.com/SkyNewsBreak?ref_src=twsrc%5Etfw">Tweets by SkyNews</a>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
